/* RESETAR CONFIGURAÇÃO PADRÃO DO NAVEGADOR */
*{margin: 0;
padding: 0;
box-sizing: border-box;
outline: none;
border: 0;}

body{font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    height: 50vh;
    grid-template-columns: 100%;
    grid-template-areas: 'cabecalho'
                         'principal'
                         'rodape';
}
/* VARIAVEL */
:root{
    --RosaPredominante: #ff8040
}

/* HEADER */
/* HEADER LOGO */
header{grid-area: cabecalho;
background-color: var(--RosaPredominante);
color: aliceblue;}

header .container_logo{display: flex; 
justify-content: space-between;
height: 60px;}

.logo{display: flex;
width:250px;
margin-left: 150px;
margin-top: 8px;}

.logo img{width: 50px;}

.logo h1{font-size: 20px;
margin-top: 5px;}

.botao{box-sizing: border-box;
margin-top: 15px;
margin-right: 150px;}

.botao button{padding: 10px;
border-radius: 5px;
background-color: var(--RosaPredominante);
outline: 2px solid white;
color: white;}

.botao button:hover{cursor: pointer; outline: 2px solid var(--RosaPredominante);}
.botao button:active{background-color: white;
color: var(--RosaPredominante);}

/* HEADER CONTEUDO */

.container_conteudo{display: flex;
justify-content: space-around;
}

.container_conteudo figure{margin-top: 100px;}

.container_conteudo figure img{width: 100%;}

.container_conteudo section{margin-top: 17%;
margin-left: 9%;
width: 25%;
height: 300px;}

.container_conteudo section h1{margin-bottom: 40px;
font-size: 200%;}


.container_conteudo section p{font-size: 80%;}

.container_conteudo section button{margin-top: 5%;
font-size: 80%;
padding: 3%;
border-radius: 5px;
background-color: var(--RosaPredominante);
outline: 2px solid white;
color: white;
width: 30%;}

#b2{margin-left: 2%;}

#b1{background-color: white;
color: var(--RosaPredominante);}

.container_conteudo section button:hover{cursor: pointer;
outline: 2px solid var(--RosaPredominante);}

.container_conteudo section button:active{background-color: white;
color: var(--RosaPredominante);}
#b1:active{background-color: var(--RosaPredominante);
color: white;}

/* MAIN */

main{grid-area: principal;
display: flex;
flex-direction: column;
justify-content: center;}

main .sesao1{text-align: center;}

main .sesao1 p{
margin-top: 4%;
font-size: 90%;
color: var(--RosaPredominante);
}

main .sesao1 h1{font-size: 35px;
width: 40%;
margin-top: 5px;
margin-left: 31%;
}

main .sesao1 h3{
font-size: 90%;
width: 40%;
margin-left: 31%;
margin-top: 10px;
color: #888;}

main div{display: flex;
justify-content: center;
margin: 5% auto;
flex-wrap: wrap;
gap: 30px;
}

main div section{width: 25%;
font-size: 75%;
background-color: var(--RosaPredominante);
border-radius: 5px;}

main div section:hover{outline: 2px solid var(--RosaPredominante); cursor: pointer;}

main div section h1{width: 50%;
margin-left: 5%;
margin-top: 5%;
font-size: 100%;
margin-bottom: 5%;}

main div section p{width: 80%;
margin-left: 5%;
height: 50%;
margin-bottom: 3%;
color: white;}

/* FOOTER */

footer{grid-area: rodape;
background-color: var(--RosaPredominante);
text-align: center;
color: white;}
/* height: 350px;} */

footer div{width: 35%;
margin-left: 32%;
display: flex;
justify-content: space-between;
margin-top: 50px;
margin-bottom: 100px;}

footer div section{width: 150px;}

footer div section p{margin-top: 5px;}

.titulo{margin-top: 100px;
font-size: 22px;
width: 100%;}

/* RESPONSIVIDADE */

@media screen and (max-width:1200px) {
    header .container_conteudo{
    flex-direction: column;
    align-items: center;
    }

    header .container_conteudo section{
        text-align: center;
        margin-left: 0%;
        margin-bottom: 0;
        margin-top: 5%;
        width: 70%;
    }

    header .container_conteudo section p{
        font-size: 14px;}

    #b1{width: 120px;
    }

    #b2{
        width: 150px;
    }

    header .container_conteudo figure {
        width: 70%;
        margin-top: 0;}

    main .sesao1{margin: 0;
    }

    main .sesao1 p{
    margin-bottom: 10px;}

    main .sesao1 h1{
        width: 100%;
        margin: 0;
        font-size: 135%;
    }

    main .sesao1 h3{width: 64%;
        margin: 0;
        margin-top: 10px;
        font-size: 13px;
        margin-left: 18%;}

    main div{
        margin: 0;
        width: 100%;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 40px;
        gap: 20px;
    }

    main div section{
    width: 40%;}

    footer{display: flex;
        flex-direction: column;
        align-items: center;
       
    }

    footer .titulo{width: 90%;}

    footer .titulo h1{width: 100%;
        font-size: 22px;}

    footer div{
        width: 60%;
        margin-left: 0;}
    }

@media screen and (max-width:750px)   {

    .botao{display: none;}

    .logo{
        margin-left:5px;
        margin-top: 10px;}

    .logo h1{margin-top: 10px;
    }

    header .container_conteudo section{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 400px;}
    
    header .container_conteudo section h1{
        font-size: 35px;
    }

    header .container_conteudo section p{width: 100%;
        font-size: 20px;
    }

    #b1{margin: 0;
        width: 40%;
        margin: 40px auto 0 auto ;}

    #b2{width: 40%;
        margin: 10px auto 0 auto; }


    main .sesao1{
        box-sizing: content-box;}

    main .sesao1 h1{
        margin: auto;
        width: 80%;
        font-size: 30px;}

    main .sesao1 h3{width: 80%;
        font-size: 100%;
        line-height: 25px;
        height: 38%;
        margin: auto;

    }

    main div{
        align-items: center;

       }

    main div section{
        width: 80%;}
    
    main div section h1{
        font-size: 25px;
        width: 80%;
      
    }

    main div section p{
        font-size: 17px;

    }

    footer{
        display: flex;
        flex-direction: column;
    }

    footer .titulo{
        width: 100%;
        text-align: center;}

    footer .titulo h1{
        font-size: 160%;
    }

    footer div{
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-bottom: 8%;
        gap: 20px;
    }

}